master_worker/deployment/digigob/digigob/deo-parent/deo-base-core/src/main/resources/wsdl/GedoADestinatarios.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.example.org/GedoADestinatarios/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="GedoADestinatarios" 
	targetNamespace="http://www.example.org/GedoADestinatarios/">

<!--     Tipos de Datos -->
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/GedoADestinatarios/">
      <xsd:element name="actualizacionDestinatario">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1" minOccurs="1">
          	<xsd:element name="id" maxOccurs="1" minOccurs="1" type="xsd:string"></xsd:element>
          	<xsd:element name="numeroSade" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          	<xsd:element name="motivoCancelacion" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizacionDestinatarioResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1" minOccurs="1">
          	<xsd:element name="respuesta" type="xsd:string"
          		maxOccurs="1" minOccurs="1" />
          	<xsd:element name="idError" type="xsd:string"
          		maxOccurs="1" minOccurs="0">
          	</xsd:element>
          	<xsd:element name="motivo" type="xsd:string" maxOccurs="1" minOccurs="0"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  
  <wsdl:message name="actualizarDestinatarioRequest">
    <wsdl:part element="tns:actualizacionDestinatario" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarDestinatarioResponse">
    <wsdl:part element="tns:actualizacionDestinatarioResponse" name="parameters"/>
  </wsdl:message>


  <wsdl:portType name="GedoADestinatarios">
    <wsdl:operation name="actualizacionDestinatarios">
      <wsdl:input message="tns:actualizarDestinatarioRequest"/>
      <wsdl:output message="tns:actualizarDestinatarioResponse"/>
    </wsdl:operation>  </wsdl:portType>    <wsdl:binding name="GedoADestinatariosSOAP" type="tns:GedoADestinatarios">  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="actualizacionDestinatarios">
  		<soap:operation	soapAction="http://www.example.org/GedoADestinatarios/actualizacionDestinatarios" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>

<!--   Nombre y direccion del servicio -->
  <wsdl:service name="GedoADestinatarios">
    <wsdl:port binding="tns:GedoADestinatariosSOAP" name="GedoADestinatariosSOAP">
      <soap:address location="http://localhost:80/GedoADestinatarios/services/GedoADestinatariosSOAP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
